@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../ui/css/ui.scss';



html{
	font-size: var(--tw-ui-font-size);
}

body{
	color: var(--tw-ui-text-color);
	font-weight: var(--tw-ui-font-weight);
	line-height: var(--tw-ui-line-height);
	
	&.dark{
		background-color: rgb(30 41 59 / 1);
		color: var(--tw-ui-dark-text-color);
	}
}

*{
	@apply 
	border-slate-200;
}

*:not(.btn){
	@apply dark:border-[var(--tw-ui-dark-border-color)];
}