@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../ui/css/ui.scss';



:root{
	// --scrollbar-thumb: red,
	// --tw-ui-text-color: rgb(71 85 105);
	// --tw-ui-font-size: 15px;
	// --tw-ui-font-weight: 300;
	// --tw-ui-line-height: 1.4;
	// --tw-ui-input-border-color: rgb(203 213 225);
	// --tw-ui-input-valid-color: rgb(22 163 74);
	// --tw-ui-input-error-color: rgb(185 28 28);
}


// *{
// 	@apply border-slate-200;
// }

html{
	font-size: var(--tw-ui-font-size);
}

body{
	color: var(--tw-ui-text-color);
	font-weight: var(--tw-ui-font-weight);
	line-height: var(--tw-ui-line-height);
}

/** Content */
.content{

	code{
		@apply bg-slate-100 text-primary;
	}

	pre{
		@apply bg-slate-100 text-slate-500;
	}

}
