@layer components{
	@import 'buttons';
	@import 'forms';
	@import 'content';
	@import 'dropdown';
	@import 'collapsible';
	@import 'tables';
	@import 'badge';
	@import 'spinner';


	.list-group{
		@apply grid;

		> .list-group-row{
			@apply 
			flex
			transition-all;

			> .list-group-cell{
				@apply
				leading-tight
				px-4 
				py-2
				flex-1
				transition-all;
			}

			&:not(:first-of-type){
				> .list-group-cell{
					@apply
					border-t
					border-slate-200
					dark:border-slate-500;
				}
			}


			.list-group-head{

			}


			& + .list-group-head{
				@apply
				border-t
				border-slate-200
				dark:border-slate-500;
			}

		}


		> .list-group-head{
			@apply 
			bg-slate-100
			text-sm
			font-semibold
			px-4
			py-1
			select-none
			dark:bg-slate-600;
		}


		&.hoverable{
			> .list-group-row:hover{
				@apply 
				bg-primary-50 
				bg-opacity-70
				dark:bg-slate-800
				dark:bg-opacity-70;
			}
		}
	}


	.list-group-striped{
		@extend .list-group;

		> .list-group-row{

			&:nth-child(odd){ 
				@apply 
				bg-slate-50
				dark:bg-slate-600;
			}

			&:not(:first-of-type){
				> .list-group-cell{ @apply border-none; }
			}
		}

		&.hoverable > .list-group-row:hover{
			@apply 
			bg-primary-50 
			bg-opacity-70 
			dark:bg-slate-800
			dark:bg-opacity-70;
		}
	}


}


@layer utilities{
	@import 'utilities';
}


@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}